---
---

@import "{{ site.theme }}";

body {
  width: 1000px;
  margin: auto;
}

.main-content {
  width: 10%;
}

.inner {
  max-width: 100%;
}

header h2 {
    background-color: #aa1f55;
    font-family: 'Open Sans';
}

#main_content div[align=center] h1 {
    display: none;
}
